<section class="blog-detail mtb-40">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="blog-left">
            <h1>About Me</h1>
           
            <div class="detail-img">
               <img src="assets/images/logo.png" alt="logo"style="width: 800px; height: auto;" />
            </div>
            <div class="blog-desc">
                <p> Hello there! my name is Ritesh Yennuwar I'm an AI enthusiast and developer with a passion for turning innovative ideas into reality through code.</p>
                <p> As an AI Developer, I thrive at the intersection of creativity and technology. My journey began with a fascination for artificial intelligence and its limitless potential to reshape our world. From crafting intelligent algorithms to developing applications that leverage the power of data, I'm dedicated to pushing the boundaries of what AI can achieve.</p>
                <p>My toolbox includes Python, Java, and JavaScript - languages that allow me to build versatile and robust solutions. Whether it's crafting elegant Python scripts, architecting Java applications, or adding interactivity with JavaScript, I love the versatility each language offers.</p>
                <p>When I'm not immersed in code, you'll find me diving into the latest research in AI and machine learning. Staying up-to-date with the rapidly evolving landscape ensures that I'm always equipped to create cutting-edge solutions.</p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>